html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    padding-bottom: 40px;
    color: black;
    background: linear-gradient(to right, #b7cbe5, #dce2ea);
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

footer {
    position: relative;
    margin-bottom: -50px;
    height: 50px;
    clear: both;
    background-color: #000000;
    color: #eeeeee;
}

.collapse.navbar-collapse li a {
    color: white;
}

.navbar {
    color: antiquewhite;
    background-color: black;
}

.navButton{
    color:black;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: #dce2ea;
    color: black;
}

th, td {
    padding: 5px;
    text-align: center;
    border-color: darkgrey;
}
